@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Katibeh&display=swap');

body {
    font-family: 'Markazi Text', sans-serif;
    min-height: 100vh;
    background: white;
}

/* nav bar css */
.navbar {
    background-color: #112D32;
    font-family: 'Katibeh', cursive;
    font-size: 1.5em;
}

